name: Build

# https://docs.github.com/ja/free-pro-team@latest/actions/reference/events-that-trigger-workflows#%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E3%81%AE%E3%83%AA%E3%82%B9%E3%83%88%E3%82%92%E4%BD%BF%E7%94%A8%E3%81%99%E3%82%8B%E4%BE%8B
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache node_modules
        uses: actions/cache@v2
        env:
          version: "20200909"
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-cache-v${{ env.version }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-cache-v${{ env.version }}-
            ${{ runner.os }}-cache-
            ${{ runner.os }}-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install danger
        run: |
          sudo gem install bundler
          bundle install

      - name: Run danger
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: danger

